---
import Layout from "../layouts/Layout.astro";
import Card from "../components/freshers-guide/Card.astro";
import generalCouncilIcon from "../images/icons/general_council.png";

---

<Layout title={"Fresher's guide"}>
  <div
    class="text-white w-full h-40 bg-[url('/images/councils_hero.png')] bg-no-repeat bg-cover fixed flex items-center z-30"
  >
    <h2 class="lg:text-5xl md:text-4xl text-3xl font-bold lg:ml-20">
      Students Guide
    </h2>
  </div>
  <div class="text-white lg:mx-40 mx-20 mt-[12rem]">
    <h2 class="lg:text-2xl text-4xl font-bold text-center lg:text-left">
      Important Links
    </h2>
    <ul class="m-8 text-lg">
      <li class="m-2"><a href="https://erp.iith.ac.in/Default/Authenticate.html">ERP Portal</a></li>
      <li class="m-2"><a href="https://epay.iith.ac.in/">E-Pay Portal</a></li>
      <li class="m-2"><a href="https://support.comp.iith.ac.in/kb/faq.php?id=21">IITH VPN Guide</a></li>
      <li class="m-2"><a href="https://sva.iith.ac.in/">SVA Portal (Mess Registration)</a></li>
      <li class="m-2"><a href="https://iithbus.vercel.app/">Bus Schedule</a></li>
      <li class="m-2"><a href="https://cabsharing.iith.dev/">Cab Sharing Portal</a></li>
      <li class="m-2"><a href="https://cins.iith.ac.in/">Campus Navigation</a></li>
    </ul>
    <h2 class="lg:text-2xl text-4xl font-bold text-center lg:text-left">
      Constitutions & Documents
    </h2>
      <div class="flex justify-center">
        <div class="grid lg:grid-cols-5 md:grid-cols-3 grid-cols-2 lg:m-16 m-2 gap-8">
          <a href="/councils/general">
            <div
            class="p-2 bg-[#040404] flex flex-col gap-4 w-36 h-32 justify-center items-center rounded-xl"
                    >
            <span class="text-sm">General Council</span>
                    </div>
          </a>
        <a href="/councils/scitech">
          <div
            class="p-2 bg-[#040404] flex flex-col gap-4 w-36 h-32 justify-center items-center rounded-xl"
          >
            <span class="text-sm">Sci-Tech Council</span>
          </div>
        </a>
        <a href="/councils/cultural">
          <div
            class="p-2 bg-[#040404] flex flex-col gap-4 w-36 h-32 justify-center items-center rounded-xl"
          >
            <span class="text-sm">Cultural Council</span>
          </div>
        </a>
        <a href="/councils/media">
          <div
            class="p-2 bg-[#040404] flex flex-col gap-4 w-36 h-32 justify-center items-center rounded-xl"
          >
            <span class="text-sm">Media Council</span>
          </div>
        </a>
        <a href="/councils/sports">
          <div
            class="p-2 bg-[#040404] flex flex-col gap-4 w-36 h-32 justify-center items-center rounded-xl"
          >
            <span class="text-sm">Sports Council</span>
          </div>
        </a>
        </div>
      </div>
      <h2 class="lg:text-2xl text-4xl font-bold text-center lg:text-left">
        How to Reach IITH
      </h2>
  </div>
  <!-- <div class="md:px-[4rem] lg:px-[8rem]">
    <div class="pb-8 px-8">
      <h2
        class="font-bold text-center text-4xl py-4 sm:text-5xl lg:text-6xl lg:pb-3 md:text-left text-p"
      >
        Important Links
      </h2>
      <ul class="font-semibold px-6 sm:text-3xl lg:text-4xl md:mt-5">
        <li class="py-1 md:py-2">
          <a
            href="https://iith.ac.in/about/aboutiith/#reach"
            class="hover:text-r"
            target="_blank"
            rel="noopener noreferrer">How to reach IIT Hyderabad</a
          >
        </li>
        <li class="py-1 md:py-2">
          <a
            href="https://support.comp.iith.ac.in/kb/faq.php?id=21"
            class="hover:text-r"
            target="_blank"
            rel="noopener noreferrer">IITH VPN Guide</a
          >
        </li>
        <li class="py-1 md:py-2">
          <a
            href="https://htos.iith.ac.in/"
            class="hover:text-r"
            target="_blank"
            rel="noopener noreferrer">HTOS</a
          >
        </li>
        <li class="py-1 md:py-2">
          <a
            href="https://hostel.iith.ac.in/"
            class="hover:text-r"
            target="_blank"
            rel="noopener noreferrer">HCU</a
          >
        </li>
        <li class="py-1 md:py-2">
          <a
            href="https://sva.iith.ac.in/"
            class="hover:text-r"
            target="_blank"
            rel="noopener noreferrer">SVA Portal(For Mess Registration)</a
          >
        </li>
        <li class="py-1 md:py-2">
          <a
            href="https://cins.iith.ac.in/"
            class="hover:text-r"
            target="_blank"
            rel="noopener noreferrer">IITH Map</a
          >
        </li>
      </ul>
    </div>
    <div class="pb-8 px-8">
      <h2
        class="font-bold text-center text-4xl py-4 sm:text-5xl lg:text-6xl lg:pb-3 md:text-left text-p"
      >
        Constitutions & Documents
      </h2>
      <div
        class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 md:mt-8"
      >
        <Card
          title={'Gymkhana Constitution'}
          link={'/documents/gymkhana constitution.pdf'}
          img={'https://res.cloudinary.com/dwsverefw/image/upload/v1672969573/media%20council/docs/iith_syornf.png'}
          alt={'Gymkhana IITH Logo'}
        />
        <Card
          title={'Elan & ηVision Fest Docs (For Students)'}
          link={'/documents/Elan & ηVision 2023 Documentation.pdf'}
          img={'https://res.cloudinary.com/dwsverefw/image/upload/v1672969573/media%20council/docs/elan_lkitmb.png'}
          alt={'IITH logo'}
        />
        <Card
          title={'E-Cell Prospectus'}
          link={'/documents/E-Cell IITH Prospectus.pdf'}
          img={'https://res.cloudinary.com/dwsverefw/image/upload/v1672969573/media%20council/docs/ecell_jcjlth.png'}
          alt="E-Cell IITH logo"
        />
        <Card
          title={"Student's Handbook"}
          link={'/documents/Academic Handbook 2022 (50th senate).pdf'}
          img={'https://res.cloudinary.com/dwsverefw/image/upload/v1672969573/media%20council/docs/iith_syornf.png'}
          alt="IITH logo"
        />
        <Card
          title={'Acad FAQ Docs 2021'}
          link={'/documents/Acad-FAQ-PhD-17-05-2021.pdf'}
          img="https://res.cloudinary.com/dwsverefw/image/upload/v1672969573/media%20council/docs/iith_syornf.png"
          alt="IITH logo"
        /> -->
  <!-- <Card title={'UG Course Booklet'} link={'/documents/Acad-FAQ-PhD-17-05-2021.pdf'}/>
            <Card title={'PG Course Booklet'} link={'/documents/Acad-FAQ-PhD-17-05-2021.pdf'}/> -->
  <!-- </div>
    </div> -->
  <!-- <div class="pb-8 px-8">
      <h2
        class="font-bold text-center text-4xl py-4 sm:text-5xl lg:text-6xl lg:pb-3 md:text-left text-p"
      >
        Recreational Room
      </h2>
      <ul class="font-semibold px-6 sm:text-3xl lg:text-4xl md:mt-5">
        <li class="py-1 md:py-2">
          <a
            href="https://gymkhana.iith.ac.in/recreation-slots"
            class="hover:text-r"
            target="_blank"
            rel="noopener noreferrer">Book A slot</a
          >
        </li>
      </ul>
    </div> -->
  <!-- </div> -->
</Layout>
